<div class="input-container">
    <label for="input-keyword">Keywords</label>
    <div class="input-area">
        <input id="input-keyword" type="text" list="keywords-typeahead-list" autocomplete="off" maxlength="30" 
        #inputKeyword (keyup.enter)="addKeyword(inputKeyword.value); inputKeyword.value = ''"
        (input)="changeTypeahead(inputKeyword.value)">
        <span class="required">*</span>
        <span class="icon"><i class="fa-solid fa-envelope"></i></span>
    </div>
    <datalist id="keywords-typeahead-list">
        <option *ngFor="let keyword of typeahead" [value]="keyword"></option>
    </datalist>
    <div id="selected-keyword-container" class="selected-item-container scrollable scrollable-horizontal">
        <div class="item" *ngFor="let keyword of selectedKeywords">
            <span class="keyword"> {{ keyword }}</span>
            <div class="remove-button" (click)="deleteKeyword(keyword)"><i class="fa-solid fa-trash"></i></div>
        </div>
    </div>
</div>
