<div class="input-container">
    <label for="input-city-name">City</label>
    
    <div class="input-area-select">
        <div id="city-list-panel" class="item-list-panel" *ngIf="focused">
            <div class="item-list-wrapper scrollable scrollable-vertical">
                <div class="item-list-container" id="city-list-container">
                    <div class="item" *ngFor="let city of filteredCities" (click)="selectCity(city)">
                        {{ city }}
                    </div>
                </div>
            </div>
        </div>

        <div class="input-container">
            <input id="input-city-name" type="text" maxlength="120" autocomplete="off" #inputCity 
            (keyup)="filterCities(inputCity.value)" 
            (focus)="showPanel(); filterCities(inputCity.value)"
            (blur)="hidePanel();"
            [ngClass]="{'focused': focused}"
            [(ngModel)]="cityName">
            <div class="icon">
                <i class="fa-solid fa-bars"></i>
            </div>
        </div>
    </div>
</div>