<aside>
    <div id="seller-panel">
        <div class="icon">
            <i class="fa-solid fa-circle-user"></i>
        </div>
        <div class="info-container">
            <div class="name">
                Jan Kowalski
            </div>
            <div class="account-balance">
                <i class="fa-solid fa-coins"></i><span class="account-balance-value">242.1152</span>$
            </div>
        </div>
    </div>

    <div id="menu-panel">
        <div class="title">MENU</div>
        <ul>
            <a href="/create"><li>New Campaign</li></a>
            <a href="/list"><li>Campaign List</li></a>
        </ul>
    </div>
</aside>
