@import 'base';

aside{
    width: 300px;
    min-height: 100vh;
    padding: 20px;

    border-right: 2px solid $color-theme;

    #seller-panel{
        padding: 15px;
        border: 2px solid $color-theme;
        border-radius: 10px;

        display: flex;
        gap: 10px;

        .icon{
            font-size: 2em;
        }

        .info-container{
            .name{
                font-weight: 600;
            }

            .account-balance{
                display: flex;
                align-items: center;

                font-size: 0.9em;
                margin-top: 3px;

                display: flex;
                gap: 3px;
            }
        }
    }

    #menu-panel{
        margin-top: 50px;

        .title{
            font-weight: 800;
            padding: 4px 10px;
            border-bottom: 1px solid $color-theme;
        }

        ul{
            li{
                padding: 10px 4px;
                list-style-type: none;

                margin-top: 2px;
            }

            li:hover{
                background-color: $color-dark;
                cursor: pointer;
            }
        }
    }
}